.jumbotron
{
background-color:#660000;
background-attachment:fixed;
min-height:500px;
margin-bottom:0px;

}
p4{
  color:white;
}
#intro{
  
  color:white;
}
#holder{
  
  background-image:url(../images/info.png);
  background-repeat:no-repeat;
  min-height:200px;
  width:400px;
  text-align:center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin:0 auto;
  border-style:solid;
  border-color:#FCEA72;
  border-width:2px;
  border-radius: 25px;
  
}
table,th,td {
				  border : 1px solid black;
				  border-collapse: collapse;
				}
				th,td {
				  padding: 5px;
				}
				th{
					color:blue;
				}
#a:hover {
   			 opacity: 0.7;
    			filter: alpha(opacity=40); /* For IE8 and earlier */
				}
#buttons{
  width:165px;
    display:block;
  margin-left:auto;
  margin-right:auto;
  margin:0 auto;
  
}

#local{
  text-align:center;
  margin-left:auto;
  display:block;
  margin:0 auto;
  margin-right:auto;
}
#local2{
  width:48%;
  text-align:center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin:0 auto;
}
#s{
  background-color:orange;
  min-width:22%;
  height:1px;
  float:left;
}
#f{
  width:150px;
  background-color:blue;
  Float:left;
}

#l{
  width:150px;
  background-color:green;
  float:left;
  
}

#t{
  width:150px;
  background-color:yellow;
  float:left;
}

#local{
  margin-top:auto;
}
#condit,#serv{
  color:white;
  
}
#addb{
  background-image:url(../images/add.png);
  background-repeat:no-repeat;
  background-color:transparent;
  cursor: pointer;
  border:none;
  font-weight: bold;
  height: 28px;
  width: 80px;
}
#deleteb{
  background-image:url(../images/delete.png);
  background-repeat:no-repeat;
  background-color:transparent;
  cursor: pointer;
  border:none;
  font-weight: bold;
  height: 28px;
  width: 80px;
}
#upcoming{
  content:url(../images/button1.png);
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin:0 auto;
  
}
#recent{
  content:url(../images/recentresults.png);
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin:0 auto;
  
}
#locs{
  content:url(../images/local.png);
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin:0 auto;
}

#figs{
  width: 259px;
  height: 59px;
  background-image: url(../images/button1.png);
  background-repeat: no-repeat;
  
}

#demo {
    border-collapse: collapse;
    border: 1px solid black;
}

#space{
  height:1px;
  width:100%;
  background-color:#FCEA72;
}
#word{
  background-image:url('../images/dark.png');
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 20px;
  color:white;
}
#cont,.jumbotron{
  background: url('../images/background.png') no-repeat center center fixed; 
  background-size: cover;

}
.row,.alt2,.alt1,.alt3,#back{
  background: url('../images/below2.png') no-repeat center center fixed; 
  background-size: cover;
  background-color:#660000;
}

#container3{
  color:#e6e6e6;
}

.wrap{
  width:60%;
  float:left;
}
#wrapp{
  width:100%;
  float:left;
}
#wrap{
  width:60%;
  float:left;
}
#wrap2{
  width:60%;
  float:left;
}
#welcome{
  /*background-color: red;*/
   text-align:center;
   position:absolute;
   width:100%;

}

@media screen and (max-width: 800px) {

    #wrapper {display:none;}
    .jumbotron {min-height:100px;}

}



.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

}
.alt1
{

background:#eee;
min-height:500px;
}
.alt2
{
background:#333;
min-height:150px;
color:#fff;
text-align:center;
}
.padding
{
padding-top:20px;
padding-bottom:20px;
}

h4 {
  font: 18px/10px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #blue
  font-weight: 200;
  }

  p5{
  font: 19px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #blue
  font-weight: 200;
  }

#table{
  /*background-color:red;*/
  width: 300px;
  height: 400px;
  margin-left :25px;
  margin-top:40px;

  }
  .tab1{
    /*background-color :blue;*/
    width: 150px;
    height:57px;
    float:left;
    border-style:solid;
    border-top-width:4px;
    border-right-width:1px;
    border-bottom-width:4px;
    border-left-width:1px;
    border-color:black;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    text-align:center;
    background-color:white;
  }
  .tab2{
    /*background-color:green;*/
    width:150px;
    height:57px;
    float:right;
    border-style:solid;
    border-top-width:4px;
    border-right-width:1px;
    border-bottom-width:4px;
    border-left-width:1px;
    border-color:black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    text-align:center;
    background-color:white;
  }
  
  #wrapper {
 
  padding: 0px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
  }

  


  h3 {
  font: 20px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  }

.events {
  list-style: none;
  }

.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }



